@import "./shared.scss";

.background {
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    $background-color-dark,
    $background-color-light
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
